<div class="toolbar-container">

    <img src="../static/icons/rolsa-output-onlinepngtools.png" alt="rolsa-logo">

    <div class="toolbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Us</a></li>

            <!--which option shows if logged in or not-->
            {% if user_id %}
                <li><a href="/profile">Dashboard</a></li>
            {% else %}
                <li><a href="/login">Log In</a></li>
            {% endif %}
            <a href="/profile"><img src="../static/icons/icons8-account-96.png" alt="account"></a>
        </ul>
    </div>
</div>